package ${package}.${moduleName}.controller;

import com.company.logistics.base.PageParam;
import com.company.logistics.base.Pagination;
import com.company.logistics.base.Result;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import javax.servlet.http.HttpServletRequest;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${moduleName}/${classname}")
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 分页列表
     *
     * @author ${author}
     * @email ${email}
     * @date ${datetime}
     */
    @PostMapping("/queryPage")
    public Result queryPage(HttpServletRequest request, @RequestBody PageParam pageParam){
        Pagination pagination = ${classname}Service.queryPage(pageParam);
        return Result.success(pagination);
    }

    /**
     * 查询详情信息
     * @author ${author}
     * @email ${email}
     * @date ${datetime}
     */
    @GetMapping("/queryInfo/{id}")
    public Result queryInfo(@PathVariable("id") Long id){
        ${className}Vo ${classname}Vo = ${classname}Service.queryInfo(id);
        return Result.success(${classname}Vo);
    }

    /**
     * 添加
     *
     * @author ${author}
     * @email ${email}
     * @date ${datetime}
     */
    @PostMapping("/save")
    public Result save(HttpServletRequest request, @RequestBody ${className}Vo ${classname}Vo){
        ${classname}Service.save(${classname}Vo);
        return Result.success();
    }

    /**
     * 修改详情信息
     * @author ${author}
     * @email ${email}
     * @date ${datetime}
     */
    @PostMapping("/updateInfo")
    public Result updateInfo(HttpServletRequest request, @RequestBody ${className}Vo ${classname}Vo){
        ${classname}Service.updateInfo(${classname}Vo);
        return Result.success();
    }

    /**
     * 删除信息
     * @author ${author}
     * @email ${email}
     * @date ${datetime}
     */
    @GetMapping("/deleteInfo/{id}")
    public Result deleteInfo(HttpServletRequest request, @PathVariable("id") Long id){
        ${classname}Service.deleteInfo(id);
        return Result.success();
    }
}
