package ${package}.${moduleName}.entity;

import com.company.logistics.base.BaseEntity;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import lombok.Data;

import javax.persistence.Table;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@Table(name = "${tableName}")
public class ${className} extends BaseEntity implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	#if($column.attrname != "id" && $column.attrname != "deleted" && $column.attrname != "createDate" && $column.attrname != "updateDate"
	&& $column.attrname != "createUser" && $column.attrname != "updateUser")

	/**
     * $column.comments
     */
	private $column.attrType $column.attrname;
	#end
#end

}
