package ${package}.${moduleName}.mapper;

import com.company.logistics.base.BaseMapper;
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Update;

import java.util.List;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}>{

    /**
     * 查询集合
     *
     * @author ${author}
     * @email ${email}
     * @date ${datetime}
     */
    List<${className}Vo> queryList();

    /**
     * 删除信息(逻辑删除)
     * @author ${author}
     * @email ${email}
     * @date ${datetime}
     */
    @Update("update ${tableName} set deleted = 1 where id = #{id}")
    void deleteInfo(@Param("id") Long id);
}
