<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.mapper.${className}Mapper">

    <select id="queryList" resultType="${package}.${moduleName}.entity.${className}Vo">
        SELECT
       #foreach($column in $columns)
    #if(${column.attrname} != "deleted") ${column.columnName} AS ${column.attrname},
    #end
#if(${column.attrname} == "deleted") ${column.columnName} AS ${column.attrname}
    #end
   #end FROM ${tableName}
        WHERE deleted = 0
        ORDER BY create_date DESC
    </select>

</mapper>